.home-page-container {
    width: 100%;
    padding-top: 105px;
}

.home-page-container .heading {
    margin: 0;
    font-size: 1.9rem;
    text-align: center;
    color: #454545;
}

.home-page-container .previewer-container {
    margin: 30px 8vw 0 8vw;
    height: 480px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
}
 
.home-page-container .previewer-container .input-sample-container label,
.home-page-container .previewer-container .result-container p {
    display: inline-block;
    height: 50px;
    font-size: 1.3rem;
    padding-top: 10px;
    margin: 0;
}

.home-page-container .previewer-container .input-sample-container textarea {
    resize: none;
    display: block;
    height: 430px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #000;
    outline: none;
    padding: 15px;
    font-size: 1.3rem;
}

.home-page-container .previewer-container .result-container .result {
    height: 430px;
    border-radius: 10px;
    border: 2px solid #000;
    padding: 15px;
    overflow-y: scroll;
}

.home-page-container .btns {
    margin-left: 8vw;
    margin-top: 35px;
}

.home-page-container .btns .btn:first-child {
    margin-right: 20px;
}

.home-page-container .btns .btn {
    background: #EF852D;
    color: #FFF;
    padding: 8px 10px;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
}

.home-page-container .btns .btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.home-page-container .hide {
    display: none;
}