<header class="header-container">
    <nav class="nav-container">
        <div class="bars-container">
            <i class="fas fa-bars"></i>
        </div>

        <div class="btns">
            <div class="header-link-btn-container">
                <a asp-area="Identity" asp-page="/Account/Login" class="header-link-btn"><span>Login</span></a>
            </div>
            <div class="header-link-btn-container">
                <a asp-area="Identity" asp-page="/Account/Register" class="header-link-btn"><span>Registration</span></a>
            </div>

            <div class="header-link-btn-container">
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = string.Empty })">
                    <button type="submit" class="header-link-btn"><span>Logout</span></button>
                </form>
            </div>
        </div>
    </nav>
</header>