<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="~/css/shared/layout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    @await RenderSectionAsync("IndexStyles", required: false)
    @await RenderSectionAsync("SamplesStyles", required: false)
    @await RenderSectionAsync("IdentityFormStyles", required: false)
</head>
<body>
    <partial name="_HeaderPartial" />
    <div>
        @if (TempData.ContainsKey(WebConstants.SuccessMessageKey))
        {
            <div class="info-message success-message">
                <p>@TempData[WebConstants.SuccessMessageKey]</p>
            </div>
        }

        @if (TempData.ContainsKey(WebConstants.ErrorMessageKey))
        {
            <div class="info-message error-message">
                <p>@TempData[WebConstants.ErrorMessageKey]</p>
            </div>
        }
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="footer-container">
        <span>HTML Previewer</span>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/shared/infoMessage.js"></script>

    @await RenderSectionAsync("IndexScript", required: false)
    @await RenderSectionAsync("ValidationScript", required: false)
</body>
</html>