.form-container {
    position: relative;
    top: 20vh;
    height: 50vh;
    width: 35vw;
    margin: 0 auto;
    border: 1px solid #C3C3C3;
    border-radius: 12px;
    box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
    background: #FFF;
}

.form-container h2 {
    text-align: center;
    color: #000;
    margin-bottom: 0;
}

.form-container form {
    margin: 0 80px;
}

.form-container form div {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.form-container form input {
    width: 100%;
    margin-left: 7px;
    outline: none;
    border: 2px solid #777777;
    border-radius: 18px;
    padding: 10px;
    background: #F7F7F7;
}

.form-container form i {
    position: relative;
    top: 10px;
}

.form-container span.validation-message {
    color: #AA0E0E;
    font-size: 0.9rem;
    margin-top: 5px;
}

.form-container div.validation-summary {
    margin: 0;
    min-height: 0;
    margin-top: 20px;
}

.form-container div.validation-summary ul {
    list-style-type: "\274C";
    margin: 0;
    padding-left: 21px;
    font-size: 1rem;
}

.form-container form button {
    display: block;
    margin: 40px auto;
    padding: 8px 6vw;
    border-radius: 15px;
    border: none;
    background: #EF852D;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 700;
}

.form-container form button:hover {
    cursor: pointer;
    transform: scale(1.07);
    transition: 0.5s ease;
}

@media (max-width: 1000px) {
    .form-container {
        width: 50vw;
    }

    .form-container form {
        margin: 0 60px;
    }
}

@media (max-width: 700px) {
    .form-container {
        width: 70vw;
    }

    .form-container form {
        margin: 0 30px;
    }
}

@media (max-width: 520px) {
    .form-container {
        width: 85vw;
    }

    .form-container form {
        margin: 0 50px;
    }
}

@media (max-height: 700px) {
    .form-container {
        height: 50vh;
    }
}