@{
    ViewBag.Title = "Render your HTML code";
}

@section IndexStyles {
    <link href="~/css/home/index.css" rel="stylesheet" />
}

<div class="home-page-container">
    <h1>HTML Previewer</h1>
</div>
