@{
    ViewBag.Title = "Render your HTML code";
}

@section IndexStyles {
    <link href="~/css/home/index.css" rel="stylesheet" />
}

<div class="home-page-container">
    <h1 class="heading">HTML Previewer</h1>

    <div class="previewer-container">
        <div class="input-code-container">
            <label>Write your code here:</label>
            <textarea id="code"></textarea>
        </div>
        <div class="result-container">
            <p>Result:</p>
            <div id="result" class="result">
            </div>
        </div>
    </div>

    <div class="btns">
        <a>Save code</a>
        <a>Check original</a>
    </div>
</div>

@section IndexScript {
    <script type="text/javascript" src="~/js/home/index.js"></script>
}