@model SampleFormModel

@{
    ViewBag.Title = "Render your HTML code";
}

@section IndexStyles {
    <link href="~/css/home/index.css" rel="stylesheet" />
}

<div class="home-page-container">
    <h1 class="heading">HTML Previewer</h1>

    <form method="post" asp-controller="Samples" asp-action="SaveSample">
        <div class="previewer-container">
            <div class="input-sample-container">
                <label asp-for="Code">Write your code here:</label>
                <textarea asp-for="Code" id="code"></textarea>
            </div>
            <div class="result-container">
                <p>Result:</p>
                <div id="result" class="result">
                </div>
            </div>
        </div>

        <div class="btns">
            <input class="btn" type="submit" value="Save Code" />

            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn">Check original</a>
            }
        </div>
    </form>
</div>

@section IndexScript {
    <script type="text/javascript" src="~/js/home/index.js"></script>
}