@{
    ViewBag.Title = "All Samples";
}

@section SamplesStyles {
    <link href="~/css/samples/all.css" rel="stylesheet" />
}

<div class="samples-page-container">
    <h1 class="heading">All Samples</h1>
    
    <div class="all-samples">
        <a class="sample">
            <p>Creation: <span>15.09.2021 14:25</span></p>
            <p>Last Edit date: <span>15.09.2021 14:25</span></p>
        </a>
        <a class="sample">
            <p>Creation: <span>15.09.2021 14:25</span></p>
            <p>Last Edit date: <span>15.09.2021 14:25</span></p>
        </a>
    </div>
</div>