@model IEnumerable<SampleServiceModel>

@{
    ViewBag.Title = "All Samples";
}

@section SamplesStyles {
    <link href="~/css/samples/all.css" rel="stylesheet" />
}

<div class="samples-page-container">
    <h1 class="heading">All Samples</h1>

    <div class="all-samples">
        @foreach (var sample in Model)
        {
            <a class="sample">
                <p>Creation: <span>@sample.Creation</span></p>
                <p>Last Edit date: <span>@sample.LastEdit</span></p>
            </a>
        }
    </div>
</div>